{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "targets": {
          "uglify": true
        }
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    ['emotion/babel']
  ]
}
