{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    ['glam/babel', { inline: true }],
    'emotion/babel'
  ]
}
