{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "stage-2",
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "stage-2",
        "react"
      ]
    }
  }
}
