{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "exclude": ["transform-es2015-typeof-symbol"]        
      }
    ],
    "stage-0",
    "react",
    "flow"
  ],
  "plugins": ["codegen"],
  "env": {
    "test": {
      "presets": [
        "flow",
        [
          "env",
          {
            "loose": true,
            "exclude": ["transform-es2015-typeof-symbol"]
          }
        ],
        "react",
        "stage-2"
      ],
      "plugins": ["./babel-plugin-emotion-test", "codegen"]
    }
  }
}
