/coverage
/demo/dist
dist/
node_modules/
*.log
.idea
package-lock.json
.DS_Store
.cache
public/
!playgrounds/cra/public
!site/public
.env
.vscode
.parcel-cache/
*.orig
*.tsbuildinfo

# Website
site/out
.next