.css-dae0kw{font-size:12px;}
.css-s9f816{font-size:20px;}.css-s9f816 span{color:blue;}.css-s9f816 span:hover{color:green;}.css-s9f816 span:hover:after{content:'after';}
.css-mdajr1{font-size:20px;}
html{background:pink;}
.css-14yvnlz{font-family:sans-serif;color:yellow;background-color:purple;}