.css-1clfawk{font-size:12px;}
.css-wtnkt4{font-size:20px;}.css-wtnkt4 span{color:blue;}.css-wtnkt4 span:hover{color:green;}.css-wtnkt4 span:hover:after{content:'after';}
.css-69wwad{font-size:20px;}
html{background:pink;}
.css-1qm9j1o{font-family:sans-serif;color:yellow;background-color:purple;}