.styled-H1-ijh7uz {
    font-size: 12px
}
.styled-H1-1f87tx4 {
    font-size: 20px
}
.styled-H1-1f87tx4 span {
    color: blue
}
.styled-H1-1f87tx4 span:hover {
    color: green
}
.styled-H1-1f87tx4 span:hover:after {
    content: "after"
}
.styled-H1-1t8i2zo {
    font-size: var(--styled-H1-1t8i2zo-0)
}
.styled-H1-131pfth {
    name: FancyH1;
    font-size: 38px
}
html {
    background: pink
}
body {
    margin: 0;
    padding: 0;
    display: var(--css-cls-y4yfy5-0)
}
body > div {
    display: none
}
html {
    background: green
}
.css-14yvnlz {
    font-family: sans-serif;
    color: yellow;
    background-color: purple
}
.css-cls-um1go4 {
    color: var(--css-cls-um1go4-0);
    height: var(--css-cls-um1go4-1)
}