.css-H1-ijh7uz { font-size: 12px; }
.css-H1-1t8i2zo { font-size: var(--css-H1-1t8i2zo-0); }
.css-FancyH1-1o9p8a2 {
      font-size: var(--css-FancyH1-1o9p8a2-0); }
.css-H1-rs9k70 { font-size: var(--css-H1-rs9k70-0); }
.css-H1-rs9k70 { font-size: var(--css-H1-rs9k70-0); }
.css-H2-vxb7tq { font-size: var(--css-H2-vxb7tq-0) }
.css-H1-rs9k70 { font-size: var(--css-H1-rs9k70-0); }
.css-H2-vxb7tq { font-size: var(--css-H2-vxb7tq-0) }
.css-cls1-cy897j { color: blue; }
.css-cls2-y5rq6p {
      height: 64px; }
.css-H1-1pnnqpk {
      font-size: var(--css-H1-1pnnqpk-0); }
.css-H2-idm3bz { font-size: 32px; }
.css-Content-rs9k70 { font-size: var(--css-Content-rs9k70-0); }
.css-squirtle-blue-bg-135ox65 {
      background-color: #7FC8D6; }
.css-onyx-13ds1s2 {
        background-color: '#343a40';
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column; }
html {
        background: pink;
      }
.css-14yvnlz { font-family: sans-serif;
      color: yellow;
      background-color: purple; }