.css-PlaygroundContent-2nd8uc { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  margin: 0 auto 16px auto;
  padding: 16px 0;
  max-width: 560px; }
.css-PlaygroundContent-2nd8uc .ReactCodeMirror { -webkit-flex: 1 1 70%; -ms-flex: 1 1 70%; flex: 1 1 70%; }
.css-PlaygroundContent-2nd8uc .ReactCodeMirror textarea { border-radius: 4px; }
.css-PlaygroundContent-2nd8uc .ReactCodeMirror .CodeMirror { height: auto; border-radius: 4px; }