.css-MarkdownContainer-j714fw h1, .css-MarkdownContainer-j714fw h2, .css-MarkdownContainer-j714fw h3, .css-MarkdownContainer-j714fw h4, .css-MarkdownContainer-j714fw h5 {
    margin: 16px 0 8px 0;
    letter-spacing: 1px;
}
.css-Link-1ocach0 { font-size: 1rem;
  margin-left: auto;
  margin-right: 8px;
  text-decoration: none;
  color: var(--css-Link-1ocach0-0); }
p .css-Link-1ocach0 { margin: 0; }
.css-Link-1ocach0:hover { color: var(--css-Link-1ocach0-1); }
.css-Paragraph-60xrpl { margin: 16px 0;
  padding: 2px;
  font-size: 0.85rem;
  color: var(--css-Paragraph-60xrpl-0); }
.css-Paragraph-60xrpl a { font-size: 0.85rem; }
.css-Code-1u9h7r0 { font-family: monospace;
  font-size: 0.75rem;
  color: var(--css-Code-1u9h7r0-0);
  background-color: var(--css-Code-1u9h7r0-1);
  padding: 1px; }
p .css-Code-1u9h7r0 { font-size: 0.99rem; }