{
  "globals": {
    "React": false,
    "css": false,
    "styled": false,
    "colors": false,
    "render": false,
    "ReactMarkdown": false,
    "docMarkdown": false
  },
  "rules": {
    max-len: [
      "error",
      50
    ]
  }
}
