const Heading = styled('h1')`

`

const Link = styled('a')`

`

const Paragraph = styled('p')`

`

const Code = styled('code')`
  font-family: monospace;
  font-size: 0.75rem;
  color: ${colors.gray[8]};
  background-color: ${colors.gray[0]};
  padding: 1px;
  
  p & {
    font-size: 0.99rem;
  }
`

const CodeBlock = styled('pre')`
  margin: 0;
  padding: 4px;
  color: ${colors.gray[6]};
  background-color: ${colors.gray[0]};
  border-radius: attr(radius, 6px);
`

// from https://daneden.github.io/animate.css/
const bounce = keyframes`
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
`

const BouncyHeading = styled(Heading)`
  animation: ${bounce} 1s linear infinite;
  transform-origin: center bottom;
`

render(
  <ReactMarkdown
    source={docMarkdown}
    renderers={{
      Heading,
      Link,
      Paragraph,
      Code,
      CodeBlock: props => {
        return (
          <CodeBlock key={props.nodeKey} className={props.className}>
            <Code>{props.literal}</Code>
          </CodeBlock>
        )
      }
    }}
  />,
  mountNode
)
