const Heading = styled('h1')`

`

const Link = styled('a')`

`

const Paragraph = styled('p')`

`

const Code = styled('code')`

`

const CodeBlock = styled('pre')`

`

render(
  <ReactMarkdown
    source={docMarkdown}
    renderers={{
      Heading,
      Link,
      Paragraph,
      CodeBlock: props => {
        return (
          <CodeBlock key={props.nodeKey} className={props.className}>
            <Code>{props.literal}</Code>
          </CodeBlock>
        )
      }
    }}
  />,
  mountNode
)
