const imageBase = css`
  width: 32px;
  height: 32px;
  border-radius: 50%;
`

const Avatar = styled('img')`
  composes: ${imageBase};
  
  @media(min-width: 420px) {
    width: 96px;
    height: 96px;
  }
`

render(<Avatar src={logoUrl} />, mountNode)
