const imageBase = fragment`
  width: 32px;
  height: 32px;
  border-radius: 50%;
`

const Avatar = styled('img')`
  @apply ${imageBase};
  
  @media(min-width: 420px) {
    width: 96px;
    height: 96px;
  }
`

render(<Avatar src={avatarUrl} />, mountNode)
