const imageStyles = css({
  width: 96,
  height: 96
})

const prettyStyles = css([
  {
    borderRadius: '50%',
    transition: 'transform 400ms ease-in-out',
    ':hover': {
      transform: 'scale(1.2)'
    }
  },
  { border: '3px solid #8c81d8' }
])

const Avatar = styled('img')`
  composes: ${prettyStyles} ${imageStyles};
`

const AvatarContainer = styled.div(imageStyles, {
  borderRadius: 10,
  display: 'flex',
  alignItems: 'center',
  justifyContent: 'center'
}, (props) => ({ backgroundColor: props.backgroundColor }))

render(<AvatarContainer backgroundColor="pink"><Avatar src={avatarUrl} /></AvatarContainer>, mountNode)
