const Avatar = styled('img')`
  width: 96px;
  height: 96px;
  border-radius: 50%;
  transition: transform 400ms ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
`

render(<Avatar src={avatarUrl} rounded/>, mountNode)
