const Image = ({ className, src }) =>
  <img src={src} className={className} />

const Avatar = styled(Image)`
    width: 96px;
    height: 96px;
    border-radius: 50%;
`

render(<Avatar src={logoUrl} />, mountNode)
