html, body {
    font-family: -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Roboto",
      "Roboto Light",
      "Oxygen",
      "Ubuntu",
      "Cantarell",
      "Fira Sans",
      "Droid Sans",
      "Helvetica Neue",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
    color: #495057;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
@font-face {font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v6/qBSyz106i5ud7wkBU-FrPevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}
.css-PlaygroundWrapper-1hy9agi { font-family: 'Oxygen', sans-serif;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: var(--css-PlaygroundWrapper-1hy9agi-0);
  background: #f8f9fa; }
.css-PlaygroundWrapper-1hy9agi .inner { margin: 0 auto; width: -webkit-calc(100% - 32px); width: -moz-calc(100% - 32px); width: calc(100% - 32px); max-width: 960px; }
@media (min-width: 960px) {
 .css-PlaygroundWrapper-1hy9agi .inner { width: 100%; } }
.css-PlaygroundWrapper-1hy9agi .header { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-align-items: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; width: 100%; }
.css-PlaygroundWrapper-1hy9agi .header img { display: block; width: 128px; height: 128px; }